@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';


// HEADER
header {
    display: block;
    background: $p-color;
    position: relative;
    width: 100%;
}

.row {
    position: relative;
    text-align: center;
}
// END OF HEADER


// TOP HEADER
.icon-btn {
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        background: lighten($color: $p-color, $amount: 5);
    }
}

.mat-icon {
    vertical-align: middle;
}

button {
    outline: none;
}

.mat-menu-item {
    height: 36px;
    line-height: 36px;
}

#top-header {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 8px;

    span, div {
        text-align: center;
        color: white;
        flex-grow: 1;
        cursor: pointer;
    }

    #menu {
        display: none;

        @include mq(600px) {
            display: block;
        }

    }

    .user-account {
        position: relative;

        .mat-icon {
            font-size: 20px;
        }  

    }

}

// END OF TOP HEADER



// MID HEADER

#mid-header {
    position: relative;
    padding: 35px 0px;

    h1 {
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        vertical-align: middle;
        line-height: 42px;
    }

    .header-search {
        
        form {
            position: relative;
            vertical-align: middle;

            .input-select {
                height: 42px;
                margin-right: -4px;
                padding: 0px 15px;
                border-radius: 42px 0px 0px 42px;
                border: none;
                outline: none;
            }

            // option, optgroup {
            //     @include link-font;
            //     height: 36px !important;
            //     line-height: 36px !important;
            // }
            .input {
                // width: calc(100% - 260px);
                height: 42px;
                margin-right: -4px;
                padding: 0px 15px;
                border: none;
                outline: none;
            }

            .search-btn {
                height: 42px;
                width: 50px;
                background: white;
                color: $p-color;
                border: none;
                border-radius: 0px 42px 42px 0px;
                outline: none;
                vertical-align: top;
                cursor: pointer;
            }
        }
    }

    .cart {
        position: relative;

        span {
            position: relative;
            line-height: 42px;
            padding: 0px 15px;
            vertical-align: middle;
            color: white;
            font-weight: 400;
        }

        .mat-icon {
            vertical-align: middle;
            // font-size: 35px;
        }
    }


}

// END OF MID HEADER


// NAVIGATION BAR
nav {
    background: rgba($color: #000000, $alpha: 0.03);
    text-align: center;
    @include drop-shadow;

    & > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & > li {
            //flex: 1 1 100px; // item is grow,shrink,baseline
            // justify-content: flex-start;
            text-align: center;

            // & > a selects only the direct child of li
            & > a {
                display: block;
                padding: 15px;
                text-transform: uppercase;
                color: $font;
                font-weight: 500;

                &:hover {
                    background: rgba($color: #000000, $alpha: 0.075);
                }

                &:focus {
                    color: $p-color;
                }
            }
        }
    }
}


// DROP DOWN MENU
.dropdown-menu {
    border: none;
    border-radius: 5px;
    @include box-shadow;

    @include keyframe(dropdown){
        0% {
            transform: scale(0);
            transform-origin: top;
        }
        100% {
            transform: scale(1);
            transform-origin: top;
        }
    }
    animation: dropdown 100ms ease-in-out;
}