<!-- <mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voicemail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

<mat-menu #appMenu="matMenu" yPosition="above">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>


 -->

<button mat-button [matMenuTriggerFor]="animals">Animal index
  <mat-icon>arrow_drop_down</mat-icon>
</button>

  <mat-menu #animals="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
    <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
  </mat-menu>
  
  <mat-menu #vertebrates="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
    <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
    <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
    <button mat-menu-item>Birds</button>
    <button mat-menu-item>Mammals</button>
  </mat-menu>
  
  <mat-menu #invertebrates="matMenu">
    <button mat-menu-item>Insects</button>
    <button mat-menu-item>Molluscs</button>
    <button mat-menu-item>Crustaceans</button>
    <button mat-menu-item>Corals</button>
    <button mat-menu-item>Arachnids</button>
    <button mat-menu-item>Velvet worms</button>
    <button mat-menu-item>Horseshoe crabs</button>
  </mat-menu>
  
  <mat-menu #fish="matMenu">
    <button mat-menu-item>Baikal oilfish</button>
    <button mat-menu-item>Bala shark</button>
    <button mat-menu-item>Ballan wrasse</button>
    <button mat-menu-item>Bamboo shark</button>
    <button mat-menu-item>Banded killifish</button>
  </mat-menu>
  
  <mat-menu #amphibians="matMenu">
    <button mat-menu-item>Sonoran desert toad</button>
    <button mat-menu-item>Western toad</button>
    <button mat-menu-item>Arroyo toad</button>
    <button mat-menu-item>Yosemite toad</button>
  </mat-menu>
  
  <mat-menu #reptiles="matMenu">
    <button mat-menu-item (click)="test($event)">Banded Gila Monster</button>
    <button mat-menu-item (click)="test($event)">Banded Day Gecko</button>
    <button mat-menu-item (click)="test($event)">Black Tree Monitor</button>
    <button mat-menu-item (click)="test($event)">Blue Spiny Lizard</button>
    <button mat-menu-item disabled>Velociraptor</button>
  </mat-menu>

<button mat-button color="accent" width="200px">check me out</button>



<br>
<!-- <mat-form-field>
  <mat-select placeholder="select anyone">
    <mat-option>None</mat-option>
    <mat-option [value]="state">state</mat-option>
    <mat-option [value]="state">state</mat-option>
    <mat-option [value]="state">state</mat-option>
    <mat-option [value]="state">state</mat-option>
    <mat-option [value]="state">state</mat-option>
    <mat-option [value]="state">state</mat-option>
    <mat-option [value]="state">state</mat-option>
    <mat-option [value]="state">state</mat-option>
    <mat-option [value]="state">state</mat-option>
    <mat-option [value]="state">state</mat-option>
    <mat-option [value]="state">state</mat-option>
  </mat-select>
</mat-form-field> -->