.sidenav {
    width: 75%;
    padding: 8px 16px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

html, body {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}