@import '../sass/variables.scss';
@import '../sass/mixins.scss';


html, body {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidenav {
    width: 75%;
    padding: 8px 16px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

mat-sidenav-content {
    overflow: hidden;
}