<section>
  <!-- left bar -->
  <div class="left-bar">
    <app-accordin [opened]="true">
      <a class="head">color</a>
      <a class="body">
        <a mat-ripple class="link">shirt</a>
        <a mat-ripple class="link">pant</a>
        <a mat-ripple class="link">t-shirt</a>
      </a>
    </app-accordin>
  </div>
  <!-- end of left bar -->

  <!-- right side content -->
  <div class="right-content">
    <mat-card>options goes here like filter,layout options etc</mat-card>
    
  </div>
  <!-- end of right side content -->
</section>


<div *ngIf="true">testing one two three four five six seven eight nine ten eleven twelve thirteen fourteen</div>
