@import '../../sass/mixins.scss';

section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0px 20px;
}
.left-bar {
    flex-grow: 1;
}
.right-content {
    flex-grow: 4;
    background: green;
}
.link {
    display: block;
    text-transform: uppercase;
    @include link-font;
    &:hover {
        background: rgba($color: #000000, $alpha: 0.05);
    }
}
