@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
.main-slider {
    display: block;
    width: calc(100% - 40px);
    height: 500px;
    margin: 0px 20px;
    margin-top: 20px;
    @include mq(680px) {
        height: 250px;
        width: cover;
    }
}

// ngx-bootstrap doesn't support custom templates for carousel
::ng-deep .carousel {
    ::ng-deep .carousel-control-prev,
    ::ng-deep .carousel-control-next {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0px 50px;
        margin-top: 225px;
        opacity: 1;
        @include mq(680px) {
            margin-right: 25px;
            margin-left: 25px;
        }
        ::ng-deep .carousel-control-prev-icon,
        ::ng-deep .carousel-control-next-icon {
            background-color: $p-color; // background: url('http://www.clker.com/cliparts/U/Z/F/E/3/3/icon-next-blue-light-braun-hi.png') no-repeat;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-size: 60%;
            @include drop-shadow;
        }
    }
}

.price-rating {
    padding-bottom: 10px;   
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    justify-content: space-between;

    p,del,div {
        vertical-align: middle;
    }
}
.chip {
    display: block;
    position: absolute;
    padding: 5px 10px;
    top: 8px;
    right: 8px;
    line-height: 22px;
    color: white;
    border-radius: 22px;
    background: #f73939;
    @include card-shadow;
    z-index: 1;
}
.icons {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
    button {
        outline: none;
    }
    button:hover {
        background: rgba($color: #000000, $alpha: 0.1);
    }
}

.product-carousel {
    margin: 10px 1px;
    position: relative;
    text-align: center;

    mat-divider {
        width: calc(100% - 32px);
        margin-left: 16px;
    }

    img {
        width: 100%;
    }

    .slide {
        margin: 5px 0px;
    }

    .next, .prev {
        display: block;
        position: absolute;
        background: white;
        color: rgba($color: #000000, $alpha: 1);
        border-radius: 50%;
        outline: none;
        z-index: 1;
        top: calc(50% - 20px);
        @include drop-shadow;
    }

    .next {
        right: 0px;
    }
    .prev {
        left: 0px;
    }

    .slick-slide {
        margin-left:20px !important;
      }
    
    /* the parent */
    ::ng-deep .slick-list {
    margin-left:-20px !important;
    }
}

::ng-deep .slick-prev {
    left: 3% !important;
    color:red;
    background: $p-color;
    z-index: 1;
  }
  ::ng-deep .slick-next {
    right: 3% !important;
    color:white;
    background: $p-color;
    z-index: 1;
  }

// business policy
.policy-info {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0px 20px;
    margin-top: 30px;
    background: rgba($color: #000000, $alpha: 0.1);
    color: rgba($color: #000000, $alpha: 0.57);
    width: calc(100% - 40px);

    .col1, .col2 {
        flex: 1 1 400px;
        display: flex;
        flex-wrap: wrap;

        .item {
            flex: 1 1 200px;
            display: flex;
            position: relative;
            margin: 20px;
        }
    }

    .circle {
        box-sizing: content-box;
        background: rgba($color: #000000, $alpha: 0.57);
        border-radius: 50%;
        overflow: hidden;
        color: rgba($color: white, $alpha: 0.89);
        font-size: 40px !important;
        height: 40px !important;
        width: 40px !important;
    }

    .policy-icon {
        font-size: 45px;
        height: 45px;
        width: 45px;
        
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        @include mq(680px) {
            font-size: 45px;
            height: 45px;
            width: 45px;
        }
    }

    .policy {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
        }
        p {
            word-wrap: break-word;
            margin: 0px;
        }

        @include mq(680px) {
            width: calc(100% - 55px);
            p {
                font-size: 13px;
            }
        }
    }
}

// business policy ends here
// tiles of colleciton
.tiles {
    position: relative;
    padding: 0px 20px;
    margin-top: 25px;
}

// tiles of collection ends here
// suggestion tab
.suggestion {
    position: relative;
    margin: 0px 20px;
    margin-top: 25px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $p-color;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    @include title-font;
}

// suggestion tab ends here
// brands carousel
.custom-carousel {
    position: relative;
    margin: 0px 20px;
    margin-top: 25px;
    height: 320px;
    background: green;
    overflow: hidden;
    .content-box {
        display: block;
        width: 6000px;
        background: violet;
        transition: transform 500ms ease-in;
        .item {
            display: inline-block;
            text-align: center;
            font-size: 3em;
            color: white;
            vertical-align: middle;
            height: 300px;
            width: calc(300px);
            background-color: red;
            margin: 10px;
        }
    }
    .next,
    .prev {
        position: absolute;
        top: calc(50% - 50px);
        cursor: pointer;
        z-index: 100;
        ::ng-deep mat-icon {
            color: red;
            font-size: 100px;
            border-radius: 50%;
            background: yellow;
            height: 100px;
            width: 100px;
        }
    }
    .next {
        right: 0;
    }
    .prev {
        left: 0;
    }
}

// ========================================================
@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}





.new-item {
    display: flex;
    height: 80vh;
    .col1 {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        background: green;

        .row1 {
            flex: 2 1 auto;
        }
        .row2 {
            flex: 1 1 auto;
            display: flex;
            div {
                flex: 1 auto;
                background: red;
            }
        }
    }

    .col2 {
        flex: 2 auto;
        display: flex;
        flex-flow: column nowrap;
        background: yellow;

        .row1 {
            flex: 1 auto;
            display: flex;

            div {
                flex: 1 auto;
                background: red;
            }
        }

        .row2 {
            flex: 2 auto;
        }
    }
}